<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyThuVienGUI.Properties.Settings.QLSinhVienConnectionString"
            connectionString="Data Source=LEDINHTHAI;Initial Catalog=QLSinhVien;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyThuVienGUI.Properties.Settings.QuanLyThuVienConnectionString"
            connectionString="Data Source=LEDINHTHAI;Initial Catalog=QuanLyThuVien;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyThuVienGUI.Properties.Settings.QLThuVienConnectionString"
            connectionString="Data Source=LEDINHTHAI;Initial Catalog=QLThuVien;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>